<!DOCTYPE html>
<!-- reponsive design it must be always run in different screen site adopts to differnt layout 
shortcut = ctrl+shift+M-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <PRE> used for check the website layout in different devieces like different mobiles and different gadjets.... this is one of the best browser tool</PRE>
    <!-- THERE IS AN OTHER TOOL THAT WHICH CAN MAKE US TO LIVE EDIT HTE WEB PAGE AS I DID IN THE WIKIPEDIA PAGE USING INSPECT ON THAT ELEMENT IN THE WEB HOWER AND EDIT IT ... THAT IS VERY INTERESTING RIGHT.... as i did it 100M  followers in my instagram account:)!-->
</body>
</html>